*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fbfbfc;
  font-family: system-ui, sans-serif;
  font-size: 75%;
  display: block;
  margin: 8px;
/*deleted background image*/
}

div {
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

.container {
  margin:20px auto;
  width: 100%;
  background-color: #dfdee0;
}

.preview h1{
  text-align: left;
  margin: 10px;
  padding: 2px;
  border:0px;
  text-transform: inherit;
}

.preview {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 20%;
  margin: 1%;
  padding: 20px 25px;
}

.preview_baku, {
  /*removing background: #fff*/
  background-image: url(images/baku.jpg);
  /*display: inline-block;*/
  background-repeat: no-repeat;
  background-size: 56%;
  margin: 1%;
  padding: 4%;
  width: 320px;
  float: right;
}

.preview_london {
  background-image: url(images/london.png);
  /*display: inline-block;*/
  background-repeat: no-repeat;
  background-size: 56%;
  margin: 1%;
  padding: 4%;
  width: 320px;
  float: right;
}

.preview_rome {
  background-image: url(images/rome.jpg);
  /*display: inline-block;*/
  background-repeat: no-repeat;
  background-size: 20%;
  margin: 1%;
  padding: 20px 25px;
}

.preview_madrid {
  background-image: url(images/madrid.jpg);
  /*display: inline-block;*/
  background-repeat: no-repeat;
  background-size: 20%;
  margin: 1%;
  padding: 20px 25px;
}

h1{
  text-align: center;
  text-transform: uppercase;
  margin: -5px;
  padding: 30px;
  border:0px;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
  div{
    margin: 1%;
    width: 48%;
  }
}

/* code added to create four-column design on laptops */
@media screen and (min-width: 991px){
  div{
    margin: 1%;
    width: 23%;
  }
}
