*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #e0dee0;
  font-size: 10px;
  display: block;
  margin; 8px;
}

div {
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

h1{
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  padding: 30px;
  height: 100%;
  width: 100%;
  border:0px;
}

.container{
  margin:20px auto;
  width: 100%;
  height: 100%;
  background-color: #e0dee0;
}

.container h1{
  /*title of page*/
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
  padding: 30px;
  border:0px;
  font-family: sans-serif;
  font-size: 12px;
}

/* .container2{
  background-color: #e0dee0;
  width: 1536px;
  height: 2048px; /*I pulled the height and width from the video
}

.container2 h1{
  text-align: left;
  text-transform: inherit;
  font-size: 14px;
} */

.preview_baku {
  background-image: url(images/baku.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1%;
  padding: 2px 182px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.preview_rome{
  background-image: url(images/rome.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1%;
  padding: 2px 182px;
  width: 25%;
  height: 25%;
  display: inline-block;
}

.preview_london{
  background-image: url(images/london.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1%;
  padding: 2px 182px;
  width: 25%;
  height: 25%;
  display: inline-block;
}

.preview_madrid{
  background-image: url(images/madrid.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1%;
  padding: 2px 182px;
  width: 25%;
  height: 25%;
  display: inline-block;
}

/*media query for two column design*/
@media screen and (min-width: 575px){
   div{
    margin: 1%;
    width: 48%;
  }
}

/*media query for laptops 4 column design*/
@media screen and (min-width: 991px){
   div{
    margin: 1%;
    width: 23%;
  }
}
