*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #e0dee0;
  font-size: 10px;
  /*  margin: auto; */
}

.container h1{
  /*title of page */
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: sans-serif;
  font-size: 1em;
}

.preview{
  /*padding: 30%; */
  background-size: cover;
  display: inline-block;
  height: 200px;
}

.preview h1{
  text-align: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 1em;
  font-family: serif;
}

div {
  background-color: #dadada;
  display: inline-block;
  margin: 20px;
  width: 100%;
  padding: 25px;
}

.baku {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/baku_1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.london {
/* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/london_1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.madrid {
/* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/madrid_1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.rome {
/* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/rome_1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/*media query for two column design*/
@media screen and (min-width: 575px){
   div{
    margin: 1%;
    width: 48%;
  }
}

/*media query for laptops 4 column design*/
@media screen and (min-width: 991px){
   div{
    margin: 1%;
    width: 23%;
  }
}
